<div style="display: flex;">
  <div>
    <% benchmarked_time = Benchmark.bmbm do |bm| %>
      <%= bm.report('Render') { yield } %>
    <% end %>
  </div>
  <div style="margin-left: 200px;">
    <%= benchmarked_time.last.real %>
  </div>
</div>
