<%= render 'benchmarks/shared/measure' do %>
  <% ApplicationHelper::N_RUNS.times do %>
    <% time = Time.current %>
    <div class="test">
      <div class="inner">
        <%= time.nsec %>
      </div>
    </div>
  <% end %>
<% end %>
